<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/sandeepkaur/Desktop/SandeepKaur delivery_3/SandeepKaur delivery/TLD_model</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-07-10T02:00:17Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/kieras/Library/Frameworks/GLEANkernel.framework</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
